<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <!-- General description of your web application -->

    <display-name>My Test Servlet</display-name>
    <description>
        Some servlets you can use to test your application server
    </description>


    <servlet>
        <servlet-name>demo</servlet-name>
        <description>
            This is a simple demonstration servlet.
        </description>
        <servlet-class>ryan.DemoServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>


    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         ConnectionSession.getMaxInactiveInterval(). -->

    <session-config>
        <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>

</web-app>
